body {
    font-family: Arial, sans-serif;
    background-color: #f368c7; /* Цвет фона в палитре RGB */
}

.header, .footer {
    text-align: center;
    padding: 1em;
    background-color: #e9b6e1;
    margin-bottom: 1em;
}

.main-content {
    text-align: center;
}

.description {
    text-align: left;
    line-height: 24px;
    font-weight: 400;
    font-size: 16px;
    color: #0d020a;
}

.characteristics-list {
    list-style-type: none;
    text-align: left;
}

.characteristics-list li {
    background-image: url('../images/marker.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 20px;
    margin-left: 0;
    line-height: 20px;
}

nav ul {
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #790051; /* Цвет текста ссылок */
    font-size: 16px; /* Размер шрифта */
    font-weight: bold; /* Начертание шрифта */
}

.product {
    display: inline-block;
    margin: 10px;
    text-align: center;
}

.product img {
    width: 150px; /* Уменьшенная копия изображения */
    height: 150px;
}

.product-img {
    width: 300px;
    height: 300px;
}

h3 {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    background-color: #e9b6e1;
}